<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<title>Yiit Code | Ana Sayfa</title>
<br><br>
<title>Background-</title>
	<style>
		body {
			background: url(https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2Fwp2757874.gif?v=1601097937332) no-repeat fixed;
			background-size: 100%;
		}
	</style>

  <section id="intro">
  </section><!-- #intro -->
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar2">
		<img class="sunucusresmi" height="200" width="200" src="https://cdn.discordapp.com/attachments/852639315195592724/876202069000847360/logo.jpg">
</div><br>
  <div class="testo">
        <h1 class="text-light font-weight-light">Yiit Code</h1>
    <h2 class="text-light font-weight-light">
       Topluluk | Bot Yardım | Kod Paylaşım
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları Görebilmek İçin <a style="text-decoration:none"href="/davet" target="_blank"><font color="gold"</font>Discord Sunucumuza</a><font color="white"</font> Katılmanız Gerekmektedir
  </p>
      
  </div>

  <! <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" style="text-decoration:none" target="_blank">Kodlara Bakmadan Önce Kesinlikle Okuyunuz!</a>
  </p> 
<div class="index-box">
<a href="/normal" style="text-decoration:none" class="index-button1"><i class="fas fa-code"></i> Normal Kodlar</a>
<a href="/altin"  style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i> Altın Kodlar</a>
<a href="/elmas" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i> Elmas Kodlar</a>
<a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i> Hazır Sistemler</a>

</div>
  
  
  <div class="btn-group mt-4">
    <a href="https://discord.com/api/oauth2/authorize?client_id=860988295667122226&permissions=8&scope=bot" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-robot"></i> Yiit Project Botumuz</a>
    <a href="https://www.youtube.com/channel/UCF41DqKvAmG3W4-PC8p8n8A/videos" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-youtube"></i> Youtube Sayfamız</a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i> Discord Sunucumuza Katıl</a>
  </div>
  </div><br>
  <div class="container text-center">
<hr color="white">
<font color="white" size="5"><b>SUNUCULARIMIZ</b></font>
<br><br>
<br><br>
<div class="allpanel">
    <div class="panel1">
      <div class="col-md-4">
        
                  <div class="ASD">                                    
                    
                      <img class="card-img-top" style="height: 200px;" src="https://pfps.gg/assets/banners/3222-aesthetic-blue.gif" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                       
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/attachments/852639315195592724/876202069000847360/logo.jpg" alt="Yiit"> 
                      </div>
                 
                    Yiit      
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-angle-up"></i> 970 
                        
                      </div>
                      
                      <p> </p>
                        <p class="card-text">Yiit Her Gün Adım Adım Büyüyen Güzel Saygılı Bir Topluluk</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                       <img style="width: 25px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/754032603081998336.png?v=1" alt="Discord Partner"><h> Discord Sunucus</b></h> 
                    <br>
                    <img style="width: 20px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/585764446178246657.png?v=1" alt="Discord Partner"><h> 1. Seviye(2 Boost)</b></h> 
                    </div>
                    <div class="card-footer">                    
                       <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.gg/SvX7zNVJZR"> <i class="fab fa-discord"></i><b>  Sunucuya Git</b></a>
                    </div>
                  </div>
      </div> 
      
      
  
      
      
      <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://i.pinimg.com/originals/2f/61/06/2f61066984feb167940a07138005d250.gif"    <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/attachments/852639315195592724/876202069000847360/logo.jpg" alt="Pirate#5067">
                      </div>
                      
                Yiit Project     
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-check"></i> BOT
                      </div>
                      <p> </p>
                        <p class="card-text">Gelişmiş Türkçe Modersayon ve Eğlence Botu.</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                      <img style="width: 25px;" class=" certificate-role " src="https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2FDiscord-Logo-White.png?v=1600933208227" alt="Discord Partner"><h> Discord Botu</b></h> 
                    <br>
                    <img style="width: 25px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/392249976639455232.png?v=1" alt="Discord Partner"><h>  Certified Bot</b></h> 
                    </div>
                    <div class="card-footer">                    
    <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.com/api/oauth2/authorize?client_id=860988295667122226&permissions=8&scope=bot"> <i class="fa fa-robot"></i><b>  Discord Botumuz</b></a>
                    </div>
                  </div>
  
  
  
  
  
        <h class="text-light font-weight-light">
       Yiit Code. 2020 Tüm Hakları Saklıdır.
  <br>
</main>